<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lessons</ion-title>
    <ion-buttons end>
      <button ion-button icon-only round *ngIf="canShowView" (click)="showView()"><ion-icon name="list"></ion-icon></button>
      <button ion-button icon-only round *ngIf="canShowFilter" (click)="showFilter()"><ion-icon name="funnel"></ion-icon></button>
      <button ion-button icon-only round *ngIf="canAddLesson" (click)="addLesson()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div *ngIf="viewCards">
  <ion-card *ngFor="let lesson of lessons | async" (click)="viewLesson(lesson)">
    <img [src]="lesson.cardBg">
    <div class="card-title">{{lesson.title}}</div>
    <div class="card-subtitle">{{lesson.subTitle}}</div>
  </ion-card>
  </div>
  <div *ngIf="viewList">
    <ion-list>
	  <ion-item-sliding *ngFor="let lesson of lessons | async">
	      <ion-item (click)="viewLesson(lesson)">{{lesson.title}}</ion-item>
		  <ion-item-options side="right">
		    <button ion-button color="danger" (click)="editLesson(lesson)"><ion-icon name="trash"></ion-icon>Edit</button>
		    <button ion-button color="danger" (click)="deleteLesson(lesson)"><ion-icon name="trash"></ion-icon>Delete</button>
		  </ion-item-options>
	  </ion-item-sliding>
	</ion-list>
  </div>

</ion-content>
