<ion-header>
  <ion-navbar>
    <ion-title>Missionaries</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addMissionary()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let missionary of missionaries | async">
    <ion-card-header (click)="viewMissionary(missionary)">
	Elder {{missionary.lastName}}
	</ion-card-header>
	<ion-card-content>
	  {{missionary.missionName}}
	</ion-card-content>
  </ion-card>

  <h1>Missions</h1>
  <ion-card *ngFor="let mission of missions | async">
	<ion-card-content>
	  {{mission.missionName}}
	</ion-card-content>
  </ion-card>

</ion-content>
