<ion-split-pane when="lg">
	<ion-menu [content]="content">
	  <ion-header>
		<ion-toolbar color="primary">
		  <ion-title>Menu</ion-title>
		</ion-toolbar>
	  </ion-header>

	  <ion-content>
		<ion-list no-lines>
		  <div *ngFor="let s of pages">
	        <ion-item-divider class="listHeadingDivider" color="primary">{{s.headingTitle}}</ion-item-divider>
		    <button class="listItemButton" menuClose ion-item *ngFor="let p of s.pages" (click)="openPage(p)">
		      <ion-icon name="{{p.icon}}" item-left></ion-icon>
			  {{p.title}}
		    </button>
		  </div>
		</ion-list>
	  </ion-content>

	</ion-menu>
	<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
	<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>
