<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides [options]="{pager: true}" (ionWillChange)="onSlideChangeStart($event)" pager>
    <ion-slide *ngFor="let slidePage of slidePages">
      <img [src]="slidePage.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slidePage.title"></h2>
      <p [innerHTML]="slidePage.description"></p>
      <button ion-button outline (click)="nextSlide()">Next</button>
    </ion-slide>
    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">Slide #4</h2>
      <button ion-button icon-right large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
