<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Organization Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-avatar item-left>
        <img src="{{user.image ? user.image : defaultAvatarUrl}}">
      </ion-avatar>
      <h1>{{user.displayName}}</h1>
      <h2><span style="font-size: 120%;">{{user.totalPoints | number:0}}</span> W.A.R. Points</h2>
    </ion-item>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
	  <ion-icon name="link" item-left></ion-icon>
	  My Organization
	</ion-card-header>
	<form (ngSubmit)="saveOrganization()" #organizationUserForm="ngForm">
	<ion-list>
	  <ion-item>
		<ion-label>My Ward</ion-label>
		<ion-select [(ngModel)]="user.organization" name="organization">
		  <ion-option *ngFor="let org of organizationList | async" [value]="org.$key">{{org.name}}</ion-option>
		</ion-select>
	  </ion-item>
	  <ion-item>
		<ion-label>My Group</ion-label>
		<ion-select [(ngModel)]="user.orgGroup" name="orgGroup">
		  <ion-option *ngFor="let orgGroup of organizationGroups | async" [value]="orgGroup.$key">{{orgGroup.name}}</ion-option>
		</ion-select>
	  </ion-item>
	</ion-list>
    <button ion-button block [disabled]="!organizationUserForm.form.valid" class="log-in-btn">Save</button>
    <div padding class="error" *ngIf="error">
      <p>{{error}}</p>
    </div>
	</form>
  </ion-card>

</ion-content>
